body {
  background-color: rgb(33, 37, 41);
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.header {
  color: rgb(226 232 240);
  margin: 0;
}

.content {
  color: rgb(148 163 184);
}

.cover {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.profile-photo {
  border-radius: 50%;
}

.about-me {
  height: 100vh;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  top: 40%;
}

.cards-container {
  margin-top: 5rem;
}

.cards-container > .header {
  text-align: center;
}

.cards {
  margin-top: 4rem;
  margin-bottom: 10rem;
  display: flex;
  gap: 1rem;
}

.list-group-item {
  background-color: RGBA(108, 117, 125);
  border-color: rgba(0, 0, 0, 0.175);
  color: #fff;
}

.row {
  margin-top: 4rem;
  margin-bottom: 10rem;
}

.contact-header {
  text-align: center;
  margin-bottom: 1rem;
}

.contact-me-body {
  margin: 0;
  color: rgb(226 232 240);
  text-align: center;
}

.links {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: 1rem;
}

.github-logo {
  width: 30px;
  background-color: black;
}
